# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
.bundle/
vendor/

# macOS
.DS_Store

# Logs
*.log

# Editor files
*.swp
*.swo
*~

# Temporary files
tmp/

# Environment variables
.env
